{% extends '::base.html.twig' %}

{% block right_content -%}
    <h1>OrganisationunitStructure</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{{ entity.datecreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Lastupdated</th>
                <td>{{ entity.lastupdated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('organisationunitstructure') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('organisationunitstructure_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('organisationunitstructure_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
