{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/dt_settings.js') }}"></script>
    <script>window["_GOOG_TRANS_EXT_VER"] = "1";</script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('commons/css/dt_bootstrap.css') }}" />
{% endblock stylesheets %}

{% block right_content -%}
<div class="container">
    <h1><small>FieldOptionMerge list</small></h1>

    <ul class="inline">
        <li>
            <a href="{{ path('fieldoptionmerge_new') }}" class="btn">
                Create a new entry
            </a>
        </li>
        <li>
            <a href="{{ path('fieldoption') }}" class="btn">
                Back to All Field Options
            </a>
        </li>
    </ul>

    <table class="records_list dataTable table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Uid</th>
                <th>Field</th>
                <th>Merged Option</th>
                <th>Removedfieldoptionvalue</th>
                <th>Removedfieldoptionuid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('fieldoptionmerge_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.uid }}</td>
                <td>{{ entity.field }}</td>
                <td>{{ entity.mergedFieldOption }}</td>
                <td>{{ entity.removedFieldOptionValue }}</td>
                <td>{{ entity.removedFieldOptionUid }}</td>
                <td>
                <ul class="inline">
                    <li>
                        <a href="{{ path('fieldoptionmerge_show', { 'id': entity.id }) }}"><i class="icon-info-sign icon-large" title="Show"></i></a>
                    </li>
                    <li>
                        <a href="{{ path('fieldoptionmerge_edit', { 'id': entity.id }) }}"><i class="icon-edit icon-large" title="Edit"></i></a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#deleteModalFor{{ entity.uid }}"><i class="icon-remove-sign icon-large" title="Delete"></i></a>
                        <!-- Modal -->
                        <div class="modal fade" id="deleteModalFor{{ entity.uid }}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title"><i class="icon-circle-remove icon-largest" title="Delete"></i>Deleting <strong>{{ entity.field.name | capitalize }}'s {{ entity.mergedFieldOption.value }}</strong></h4>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete <strong>{{ entity.field.name | capitalize }}'s {{ entity.mergedFieldOption.value }}</strong> that was created on <em>{{ entity.datecreated|date('d/m/Y') }}</em>
                                        {% if entity.lastUpdated %}
                                            and last updated on {{ entity.lastUpdated|date('H:i:s d/m/Y') }} ??
                                        {% else %}
                                            and never updated ??
                                        {% endif %}
                                    </div>
                                    <div class="modal-footer">
                                        <form action="{{ path('fieldoptionmerge_delete', { 'id': entity.id }) }}" method="post">
                                            <input type="hidden" name="_method" value="DELETE" />
                                            {{ form_widget(delete_forms[entity.id] ) }}
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->

                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    {% endblock %}
