{% extends '::base.html.twig' %}

{% block right_content -%}
    <h1><small>FieldOptionMerge creation</small></h1>

    <form action="{{ path('fieldoptionmerge_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <br/>
        <ul class="record_actions inline" style="float:left;">
            <li>
                {{ form_widget(form.submit) }}
            </li>
            <li>
                <a href="{{ path('fieldoptionmerge', {'attr': {'class': 'btn'} }) }}" class="btn">
                    Back to the list
                </a>
            </li>
        </ul>
    </form>
{% endblock %}
