{% extends 'HrisMessageBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/dt_settings.js') }}"></script>
    <script>window["_GOOG_TRANS_EXT_VER"] = "1";</script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('commons/css/dt_bootstrap.css') }}" />
{% endblock stylesheets %}

{% block fos_message_content %}

<h2><small>{% trans from 'FOSMessageBundle' %}Inbox{% endtrans %}</small></h2>

<a href="{{ url('message_thread_new' )}}">{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</a>

{% include 'HrisMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
