{% extends 'HrisMessageBundle::layout.html.twig' %}

{% block fos_message_header %}
    {{ thread.subject }}
{% endblock fos_message_header %}

{% block fos_message_links %}
    <a href="{{ url('message_thread_new' )}}" class="btn">{% trans from 'FOSMessageBundle' %}Send a new message{% endtrans %}</a>
{% endblock fos_message_links %}


{% block fos_message_content %}

{% for message in thread.messages %}
    <div class="messenger_thread_message highlight">
        <div class="messenger_thread_message_info">
            <strong title="{% if message.sender.organisationunit %} {{ message.sender.jobTitle }} of {{ message.sender.organisationunit.longname }} {% endif %}">{{ message.sender.firstname| capitalize }} {{ message.sender.surname }}</strong> <em class="pull-right">{{  message.createdAt|date }}</em>
        </div>

        <div class="messenger_thread_message_body" id="message_{{ message.id }}">
            {{ message.body | nl2br }}
        </div>
    </div>
{% endfor %}

    {{ form_start(form, {'action': path('message_thread_view', {'threadId': thread.id}), 'method': 'POST'}) }}
    <div id="message">
        {{ form_widget(form.body, {'attr': {'style': 'width:295px;'}}) }}
    </div>
    <br/>
    <ul class="record_actions inline" style="float:left;">
        <li>
            <input type="submit" value="Reply" class="btn"/>
        </li>
        <li>
            <a href="{{ path('message_inbox') }}" class="btn">
                Back to Conversations
            </a>
        </li>
    </ul>
    {{ form_end(form)  }}

{% endblock %}
