{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/dt_settings.js') }}"></script>
    <script>window["_GOOG_TRANS_EXT_VER"] = "1";</script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('commons/css/dt_bootstrap.css') }}" />
{% endblock stylesheets %}

{% block right_content -%}
<div class="container">
    <h1><small>Settings list</small></h1>

    <table class="records_list dataTable table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Uid</th>
                <th>Emailnotification</th>
                <th>Smsnotification</th>
                <th>Completenessalert</th>
                <th>Qualitycheckalert</th>
                <th>Datecreated</th>
                <th>Lastupdated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('settings_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.uid }}</td>
                <td>{{ entity.emailNotification }}</td>
                <td>{{ entity.smsNotification }}</td>
                <td>{{ entity.completenessAlert }}</td>
                <td>{{ entity.qualityCheckAlert }}</td>
                <td>{% if entity.datecreated %}{{ entity.datecreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.lastupdated %}{{ entity.lastupdated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('settings_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('settings_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul class="inline">
            <li>
                <a href="{{ path('settings_new') }}">
                    Create a new entry
                </a>
            </li>
        </ul>
</div>
    {% endblock %}
