{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" language="javascript" src="{{ asset('commons/js/jquery.multi-select.js') }}"></script>
    <script type="text/javascript" language="javascript" src="{{ asset('commons/js/jquery.validate.js') }}"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            // validate signup form on keyup and submit
            $("#fos_user_group_form").validate({ ignore:[] });
            $('#fos_user_group_form_roles').multiSelect({
                selectableHeader: "<div class=''>Avaiable Roles</div>",
                selectionHeader: "<div class=''>Selected Roles</div>"
            });
            $( 'input[required="required"],select[required="required"]').closest(".control-group").children("label").prepend('<em class="required-asterisk">*</em>');
        });
    </script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('commons/css/multi-select.css') }}">
    <style type="text/css">
        #ms-fos_user_group_form_roles {
            min-width:890px;
        }
    </style>
{% endblock stylesheets %}

{% block right_content -%}

    <h1><small>User Group creation</small></h1>

    <form id="fos_user_group_form" action="{{ path('user_group_new') }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors( form ) }}
        {{ form_widget(form) }}
        <br/>
        <ul class="record_actions inline" style="float:left;">
            <li>
                <button type="submit" class="btn">{{ 'group.new.submit'|trans([], 'FOSUserBundle') }}</button>
            </li>
            <li>
                <a href="{{ path('user_group_list') }}" class="btn">
                    Back to the list
                </a>
            </li>
        </ul>
    </form>
{% endblock %}
