{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" language="javascript" src="{{ asset('commons/js/ext-all.js') }}"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            var fields='#hris_recordsbundle_historytype_field';
            var fieldOptionUrl = '{{ path('history_historyfieldption', {'_format':'json'}) }}';
            var fieldOptionNames='hris_recordsbundle_historytype_history';
            //var fieldOptionSection='#hris_recordsbundle_historytype_history';
            var fieldOptionSection='#historyFieldSection';

            $(fields).on('change', function() {
                // Empty FieldOptionSection contents
                $( fieldOptionSection ).empty();
                // Fetch fieldOptionTargets based on selected fields
                postData={
                    'fieldid': $('#hris_recordsbundle_historytype_field').val()
                };
                $.post(fieldOptionUrl,postData , function( fieldOptions ){
                    $(fieldOptionSection).find('option').remove();
                    if (jQuery.isEmptyObject(fieldOptions)){
                        //disable field with no options
                        //$(fieldOptionSection).attr('disabled', 'true');
                        $(fieldOptionSection).prepend('<h1><small>Field Has No Options</small></h1>');
                    }else {

                        //$(fieldOptionSection).removeAttr('disabled');

                        $(fieldOptionSection).prepend('<select name="hris_recordsbundle_history[history]" id="hris_recordsbundle_history_history"> </select>');

                        $(fieldOptionSection).prepend('<label for="hris_recordsbundle_history_history">History</label>');
                        // Loop accross the field options constructing history options
                         $.each(fieldOptions, function(historyFieldOptionIndex, historyFieldOption) {
                             $("#hris_recordsbundle_history_history").append(new Option(historyFieldOption['name'], historyFieldOption['uid']));
                         });
                    }
                });
            });
        });
    </script>
{% endblock javascripts %}

{% block right_content -%}
    <h1><small>History creation</small></h1>

    <form action="{{ path('history_create', {'recordid': recordid } ) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <div id="historyFieldSection"></div>
        <ul class="record_actions inline" style="..." >
            <li>
                <button type="submit" class="btn">Create</button>
            </li>
            <li>
                <a href="{{ path('history_list_byrecord', { 'recordid': recordid }) }}" class="btn">
                    Back to the list
                </a>
            </li>
        </ul>
    </form>
{% endblock %}
