{% extends '::base.html.twig' %}

{% block right_content -%}
    <h1>History</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Uid</th>
                <td>{{ entity.uid }}</td>
            </tr>
            <tr>
                <th>History</th>
                <td>{{ entity.history }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{{ entity.startdate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Reason</th>
                <td>{{ entity.reason }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{{ entity.datecreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Lastupdated</th>
                <td>{{ entity.lastupdated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('history') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('history_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('history_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
