{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/dt_settings.js') }}"></script>
    <script>window["_GOOG_TRANS_EXT_VER"] = "1";</script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('commons/css/dt_bootstrap.css') }}" />
{% endblock stylesheets %}

{% block right_content -%}
    <div class="container">
        <h1><small>{{ title }}</small></h1>
        <table class="records_list dataTable table table-striped table-bordered table-hover" cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th>{{ friendlyReport.getSerie.getName }}</th>
                {% set totalOptions = {'5':5} %}
                {% set totalOptionsPreviouslySet = 'false' %}
                {% for key,friendlyReportCategory in friendlyReport.getFriendlyReportCategory %}
                    {% set optionsCount = 0 %}
                    {% set incr = 1 %}
                    {% for fieldOption in  friendlyReportCategory.getFieldOptionGroup.getFieldOption %}
                        {% set optionsCount = optionsCount + 1  %}
                        <th >{{ fieldOption.getValue }}</th>
                    {% endfor %}
                    {% if totalOptionsPreviouslySet =='false' %}
                        {% set totalOptions = { key : optionsCount } %}
                        {% set totalOptionsPreviouslySet = 'true' %}
                    {% else %}
                        {% set totalOptions = totalOptions|merge({ incr : optionsCount }) %}
                    {% endif %}
                    {% set incr = incr +1 %}
                    <th>{{ friendlyReportCategory.getFieldOptionGroup.getName }} Total</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                    {# If repetition is allowed repeat option groups for previous category #}
                    {% for friendlyReportResult in friendlyReportResults %}
                        <tr>
                            {% set lastSlice = 0 %}
                            {% for totalOption in totalOptions %}

                                {% set fieldOptionValueTotal=0 %}
                                {% for fieldOptionValue in  friendlyReportResult|slice(lastSlice, totalOption+1)  %}
                                    <td>{{ fieldOptionValue }}</td>
                                    {% set fieldOptionValueTotal = fieldOptionValueTotal + fieldOptionValue %}
                                {% endfor %}
                                {% set lastSlice = totalOption+1 %}
                                <td>{{ fieldOptionValueTotal }}</td>

                            {% endfor %}


                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}