{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.ZeroClipboard.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.TableTools.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/dt_settings.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.records_list').dataTable( {
                "sDom": "<'row'<'span6'TRl><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
                "oTableTools": {
                    "aButtons": [
                        {"sExtends":"copy","mColumns":"visible"},
                        {"sExtends":"xls","mColumns":"visible"},
                        {"sExtends":"pdf","mColumns":"visible"}
                    ],
                    "sSwfPath": "{{ asset('commons/swf/copy_cvs_xls_pdf.swf') }}"
                },
                "sPdfOrientation": "landscape",
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records per page"
                },
                "aLengthMenu": [[10, 25, 50,100,200, -1], [10, 25, 50,100,200, "All"]]
            } );
        } );
    </script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('commons/css/dt_bootstrap.css') }}" />
{% endblock stylesheets %}

{% block right_content -%}
    <div class="container">
        <h1><small>{{ title }}</small></h1>
        <table class="records_list dataTable table table-striped table-bordered table-hover" cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th>{{ friendlyReport.getSerie.getName }}</th>
                {% set totalOptions = {'5':5} %}
                {% set totalOptionsPreviouslySet = 'false' %}
                {% for key,friendlyReportCategory in friendlyReport.getFriendlyReportCategory %}
                    {% set optionsCount = 0 %}
                    {% set incr = 1 %}
                    {% for fieldOption in  friendlyReportCategory.getFieldOptionGroup.getFieldOption %}
                        {% set optionsCount = optionsCount + 1  %}
                        <th >{{ fieldOption.getValue }}</th>
                    {% endfor %}
                    {% if targets is not empty %}

                        {% for target in targets %}
                            <th>{{ target.getName }}</th>
                        {% endfor %}
                    {% endif %}
                    {% if totalOptionsPreviouslySet =='false' %}
                        {% set totalOptions = { key : optionsCount } %}
                        {% set totalOptionsPreviouslySet = 'true' %}
                    {% else %}
                        {% set totalOptions = totalOptions|merge({ incr : optionsCount }) %}
                    {% endif %}
                    {% set incr = incr +1 %}
                {% endfor %}
                {% if friendlyReport.showDeficitSurplus %}
                    <th>Deficit/Surplus(-/+)</th>
                {% endif %}
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
                    {# If repetition is allowed repeat option groups for previous category #}
                    {% for friendlyReportResult in friendlyReportResults %}
                        <tr>
                            {% set lastSlice = 0 %}
                            {% set fieldOptionValueTotal=0 %}
                            {% for totalOption in totalOptions %}
                                {% set fieldOptionValueTotal=0 %}
                                {% for fieldOptionValue in  friendlyReportResult|slice(lastSlice, totalOption+1)  %}
                                    {% set fieldOptionValueTotal = fieldOptionValueTotal + fieldOptionValue %}
                                {% endfor %}
                                {% set lastSlice = totalOption+1 %}
                            {% endfor %}

                            {% for fieldOptionValue in  friendlyReportResult %}
                                <td>{{ fieldOptionValue }}</td>
                            {% endfor %}

                            {% if friendlyReport.showDeficitSurplus %}
                                <th>{{ (fieldOptionValueTotal*2 - (friendlyReportResult|sum)) }}</th>
                            {% endif %}

                            <td>{{ fieldOptionValueTotal }}</td>


                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}