{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" language="javascript" src="{{ asset('commons/js/ext-all.js') }}"></script>
    <script type="text/javascript">
        var treeplaceholder="treeplaceholder";
        var inputboxname="hris_reportsbundle_reportaggregationtype[organisationunit]";
        var urlExtension="";
        var selectedNode="";
        Ext.define('OrganisationUnitTreeModel2', {
            extend: 'Ext.data.Model',
            idProperty: 'id',
            fields: [{name: 'longname',type: 'string'},{name: 'id',type: 'int'},{ name: 'cls',type: 'string'},{name: 'leaf', type: 'boolean'}],
            validations: [{type: 'exclusion', field: 'cls',list: ['file','folder']}]
        });
        Ext.onReady(function(){
            var OrganisationUnitTreeStore2 = Ext.create('Ext.data.TreeStore', {
                storeId: 'MyJsonOrganisationUnitTreeStore2',
                model: 'OrganisationUnitTreeModel2',
                proxy: {
                    type: 'ajax',
                    url: '{{ path('organisationunit_tree',{'_format':'json'}) }}'+urlExtension,
                    reader: { type: 'json', root: 'organisationUnits'}
                },
                nodeParam: 'id',
                root: {longname: 'Orgunits', id: 'src', expanded: true},
                folderSort: true,
                sorters: [{property: 'longname', direction: 'ASC'}]
            });
            var OrganisationUnitTreePanel2 = Ext.create('Ext.tree.Panel', {
                id: 'organisationUnitTreePanel2',
                store: OrganisationUnitTreeStore2,
                displayField: 'longname',
                rootVisible: false,
                singleExpand: false,
                height: 250,
                viewConfig: {},
                renderTo: treeplaceholder,
                listeners: {
                    select: function(selModel2, record, index, options) {
                        var selectedOrgunits2 = selModel2.getSelection();
                        var selectedId2 = selectedOrgunits2[0].get('id');
                        $('input[name="'+inputboxname+'"]').val(selectedId2);
                    },
                    afterrender: function(treePanel,eOpts) {
                        if(selectedNode){
                            this.selectPath(selectedNode,'id','');
                        };
                    }
                }

            });
        });
        $( document ).ready(function() {

            var reportType='#hris_reportsbundle_reporthistorytrainingtype_reportType';
            var forms='#hris_reportsbundle_reporthistorytrainingtype_forms';
            var fields='#hris_reportsbundle_reporthistorytrainingtype_fields';
            var graphTypeId='#hris_reportsbundle_reporthistorytrainingtype_graphType';

            // Disable fields and forms
            $(forms).attr('disabled', 'true');
            $(fields).attr('disabled', 'true');

            // On Selecting Report Type, enable Forms
            $(reportType).on('change', function() {
                // enable forms
                if( $(reportType).val() != '') {
                    $(forms).removeAttr('disabled');
                }else{
                    $(forms).attr('disabled', 'true');
                }
            });

            // Fields is enabled only when history report type is selected
            $(reportType).on('change', function() {
                // enable forms
                if( $(reportType).val() == 'history' && $(forms).val() != '') {
                    $(fields).removeAttr('disabled');
                }else{
                    $(fields).attr('disabled', 'true');
                }
            });

            //Change options of fields based on selected form
            $(forms).on('change', function() {
                $(fields).find('option[value=""]').remove();
                // enable field two when the field field value  is not empty
                if( $(forms).val() != '' ) {
                    $(fields).removeAttr('disabled');
                    // On change of first field, trim selected option
                    // from first field on second.
                    $(fields+' option').each(function(){
                        if( $(fields).val() == $(this).val() ) {
                            //alert($(fieldTwoId).text());
                            $(this).text('Use one Field')
                            //$(fieldTwoId).append(new Option($(this).text(), $(this).val()));
                        }else{
                            //alert($(fieldOneId).find('option[value="'+$(this).val()+'"]').text());
                            $(this).text($(fieldOneId).find('option[value="'+$(this).val()+'"]').text());
                        }
                    });
                }else{
                    $(fields).attr('disabled', 'true');
                }
            });
        });
    </script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('commons/css/ext-standard.css') }}">
{% endblock stylesheets %}

{% block right_content -%}
    <h1><small>History Report</small></h1>

    {{ form_start(historytrainingForm, { 'method' : 'PUT' } ) }}

    <div>
        <div id="treeplaceholder"></div>
        {{ form_errors( historytrainingForm.organisationunit ) }}
        {{ form_widget( historytrainingForm.organisationunit ) }}
    </div>
    <br/>
    {{ form_row( historytrainingForm.withLowerLevels ) }}
    {{ form_row( historytrainingForm.reportType ) }}
    {{ form_row( historytrainingForm.forms ) }}

    {{ form_row( historytrainingForm.fields ) }}

    {{ form_end(historytrainingForm) }}


{% endblock %}
