<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('bundles/hrisassets/css/style.css') }}" />
        {% endblock %}
        {% block favicon %}
            <link rel="icon" type="image/x-icon" href="{{  asset('favicon.ico') }}" />
        {% endblock favicon %}
    </head>
    <body>
        {% block body %}
			{% block banner %}
			        <div id="banner" class="hidden-phone text-center">
			            {% block banner_logo %}
			                <div id="logo">
			                    <h1>Ministry of Health And Social Welfare(MoHSW)</h1>
			                    <h2>Human Resource for Health Information System (HRHIS)</h2>
			                </div>
			            {% endblock banner_logo %}
			        </div>
			        <div class="visible-phone text-center">
			            	<h2 style="color:#000000;">HRHIS 3</h2>
			        </div>
			{% endblock banner %}
            {% block content %}{% endblock %}
			{% block footer %}
					<div id="footer" class="hidden-phone text-center">
					    <p>Copyright © 2010  Ministry of Health and Social welfare - Human resource for Health Information System</p>
		            </div>
			{% endblock footer %}
        {% endblock %}

        {% block javascripts %}

            <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>

        {% endblock %}
    </body>
</html>
