{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/dt_settings.ajax.js') }}"></script>
    <script type="text/javascript" language="javascript" src="{{ asset('commons/js/jquery.dataTables.columnFilter.js') }}"></script>
    <script>window["_GOOG_TRANS_EXT_VER"] = "1";</script>
    <script type="text/javascript">
        // Ajax for records table.
        var ajaxUrl = '{{- path('report_employeerecords_ajax',{'_format':'json'}) -}}';
        jQuery.fn.dataTableExt.oApi.fnSetFilteringDelay=function(a,b){var c=this,b=typeof b=="undefined"?500:b;this.each(function(a){$.fn.dataTableExt.iApiIndex=a;var d=this,e=null,f=null,g=$("input",c.fnSettings().aanFeatures.f);g.unbind("keyup").bind("keyup",function(){var h=d;if(f===null||f!=g.val()){window.clearTimeout(e);f=g.val();e=window.setTimeout(function(){$.fn.dataTableExt.iApiIndex=a;c.fnFilter(g.val())},b)}});return this});return this}
        $(document).ready( function () {
            oTable = $('.records_list').dataTable( {
                "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records per page"
                },
                "bProcessing":true,
                "bServerSide":true,
                "sAjaxSource": ajaxUrl,
                "fnServerParams": function (aoData) {
                    aoData.push( {{ employeeRecordsParameters|raw }} );
                },
                "sServerMethod":"POST",
                "fnServerData": function ( sSource, aoData, fnCallback ) {$.ajax( {"dataType": "json", "type": "POST", "url": sSource, "data": aoData, "success": fnCallback} );},
                "bJQueryUI": true,
                "aLengthMenu": [[10, 25, 50,100,200, -1], [10, 25, 50,100,200, "All"]],"sPdfOrientation": "landscape",
                "oTableTools": {"aButtons": [ {"sExtends":"copy","mColumns":"visible","sTitle": "{{ title }}" }, {"sExtends":"xls","mColumns":"visible"}, {"sExtends":"pdf","mColumns":"visible"} ] }
            }).fnSetFilteringDelay().columnFilter({ aoColumns: {{ dataTableAjaxColumns|raw }} });
        });
    </script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('commons/css/dt_bootstrap.css') }}" />
{% endblock stylesheets %}

{% block right_content -%}
    <div class="container">
        <h1><small>{{ title }}</small></h1>

        <table class="records_list dataTable table table-striped table-bordered table-hover" cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th>No.</th>
                {% if visibleFields %}
                    {% for visibleField in visibleFields  %}
                        <th>{{ visibleField.caption }}</th>
                    {% endfor %}
                {% else %}
                    {% for formField in formFields  %}
                        <th>{{ formField.caption }}</th>
                    {% endfor %}
                {% endif %}
                <th>Last Updated</th>
                <th>Duty Post</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div style="text-align: right">
        <a class="btn" href="{{ path('report_employeerecords_download', { 'organisationUnit': organisationUnit.id, 'formsId': formsIds, 'withLowerLevels': withLowerLevels }) }}">
            Export to Excel
        </a>
        <a class="btn" href="{{ path('report_employeerecords_download_bycarde', { 'organisationUnit': organisationUnit.id, 'formsId': formsIds, 'withLowerLevels': withLowerLevels }) }}">
            Export to Excel Order by Profession
        </a>
    </div>
{% endblock %}
