{% extends '::base.html.twig' %}

{% block right_content -%}
    <h1><small>Field list</small></h1>

    <ul class="inline">
        <li>
            <a class="btn" href="{{ path('field_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>

    <table class="records_list dataTable table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Uid</th>
                <th>Name</th>
                <th>Caption</th>
                <th>Compulsory</th>
                <th>Unique</th>
                <th>Description</th>
                <th>Hashistory</th>
                <th>Fieldrelation</th>
                <th>Datecreated</th>
                <th>Lastupdated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('field_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.uid }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.caption }}</td>
                <td>{{ entity.compulsory }}</td>
                <td>{{ entity.isUnique }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.hashistory }}</td>
                <td>{{ entity.fieldrelation }}</td>
                <td>{% if entity.datecreated %}{{ entity.datecreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.lastupdated %}{{ entity.lastupdated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('field_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('field_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
