{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" language="javascript" src="{{ asset('commons/js/jquery.multi-select.js') }}"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            $('#hris_formbundle_fieldoptiontype_childFieldOption').multiSelect({
                selectableHeader: "<div class=''>Avaiable Options</div>",
                selectionHeader: "<div class=''>Selected Options</div>"
            });
            $('#hris_formbundle_fieldoptiontype_fieldOptionMerge').multiSelect({
                selectableHeader: "<div class=''>Avaiable Merged Options</div>",
                selectionHeader: "<div class=''>Selected Merged Options</div>"
            });
        });
    </script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('commons/css/multi-select.css') }}">
{% endblock stylesheets %}

{% block right_content -%}
    <h1><small>FieldOption creation</small></h1>

    {% if field is empty %}
        <form action="{{ path('fieldoption_create') }}" method="post" {{ form_enctype(form) }}>
    {% else %}
        <form action="{{ path('fieldoption_create_byfield', { 'fieldid': field.id }) }}" method="post" {{ form_enctype(form) }}>
    {% endif %}
        {{ form_widget(form) }}
        <br/>
        <ul class="record_actions inline" style="float:left;">
            <li>
                <button type="submit" class="btn">Create</button>
            </li>
            <li>
                {% if field is empty %}
                    <a href="{{ path('fieldoption') }}" class="btn">
                        Back to the list
                    </a>
                {% else %}
                    <a href="{{ path('fieldoption_list_byfield', { 'fieldid': field.id }) }}" class="btn">
                        Back to the list
                    </a>
                {% endif %}
            </li>
        </ul>
    </form>

{% endblock %}
