{% extends '::base.html.twig' %}

{% block right_content -%}
    <h1><i class="icon-circle-info icon-largest" title="Show"></i> <small>{{ entity.value | capitalize }}'s Details</small></h1>

    <table class="record_properties table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Uid</th>
                <td>{{ entity.uid }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ entity.value }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{{ entity.datecreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Lastupdated</th>
                <td>{{ entity.lastupdated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions inline">
        <li>
            <a href="{{ path('fieldoption') }}" class="btn">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('fieldoption_edit', { 'id': entity.id }) }}" class="btn">
                Edit
            </a>
        </li>
        <li>

            <a data-toggle="modal" href="#deleteModalFor{{ entity.uid }}" class="btn btn-danger">Delete {{ entity.value | capitalize }}</a>

            <!-- Modal -->
            <div class="modal fade" id="deleteModalFor{{ entity.uid }}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title"><i class="icon-circle-remove icon-largest" title="Delete"></i>Deleting {{ entity.value | capitalize }}</h4>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete <strong>{{ entity.value | capitalize }}</strong> value of <strong>{{ entity.field }}</strong> field that was created on <em>{{ entity.datecreated|date('d/m/Y') }}</em>
                            {% if entity.lastUpdated %}
                                and last updated on {{ entity.lastUpdated|date('H:i:s d/m/Y') }} ??
                            {% else %}
                                and never updated ??
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <form action="{{ path('fieldoption_delete', { 'id': entity.id }) }}" method="post">
                                <input type="hidden" class="btn btn-danger" name="_method" value="DELETE" />
                                {{ form_widget(delete_form) }}
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>

                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </li>
    </ul>

{% endblock %}
