{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Training list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Uid</th>
                <th>Instance</th>
                <th>Coursename</th>
                <th>Courselocation</th>
                <th>Sponsor</th>
                <th>Startdate</th>
                <th>Enddate</th>
                <th>Username</th>
                <th>Datecreated</th>
                <th>Lastupdated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('training_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.uid }}</td>
                <td>{{ entity.instance }}</td>
                <td>{{ entity.coursename }}</td>
                <td>{{ entity.courselocation }}</td>
                <td>{{ entity.sponsor }}</td>
                <td>{{ entity.startdate }}</td>
                <td>{{ entity.enddate }}</td>
                <td>{{ entity.username }}</td>
                <td>{% if entity.datecreated %}{{ entity.datecreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.lastupdated %}{{ entity.lastupdated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('training_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('training_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('training_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
