{% extends '::base.html.twig' %}

{% block right_content -%}
    <h1><small>Validation creation</small></h1>


    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" language="javascript" src="{{ asset('commons/js/validation-js.js') }}"></script>
    {% endblock javascripts %}

    {{ form_start(form, {'action': path('validation_create'), 'method': 'POST'}) }}


    <label for="hris_dataqualitybundle_validationtype_name" class="required">Name</label>
    {{ form_widget(form.name) }}
    <label for="hris_dataqualitybundle_validationtype_description" class="required">Description</label>
    {{ form_widget(form.description) }}

    <div>
        <table border="1" cellpadding="5" cellspacing="5">

        <tr><label for="hris_dataqualitybundle_leftexpression" class="required">Left Expression</label></tr>

       <tr> <td><select name="left_field" size="12" id="left_field" class="left_field" multiple="multiple" style="width:250px" ondblclick="copySelectedLeft()">


            {% for leftExpressionField in leftExpressionFields  %}
                <option value="{{ leftExpressionField.id }}">{{ leftExpressionField.name }}</option>
            {% endfor %}
                   <option value="Now" id="Now">Now</option>
        </select>
           </td>


         <td>

        <input type="button" value=" + " name="add" id="add" onclick="copyValueOfLeftAddButton()"><br/>
        <input type="button" value=" - " name="minus" id="minus" onclick="copyValueOfLeftMinusButton()"><br/>
        <input type="button" value=" * " name="multiply" id="multiply" onclick="copyValueOfLeftMultiplyButton()"><br/>
        <input type="button" value=" / " name="devide" id="divide" onclick="copyValueOfLeftDivideButton()"><br/>
        <input type="button" value=" ( " name="brckt1" id="brckt1" onclick="copyValueOfLeftBracketOneButton()"><br/>
        <input type="button" value=" ) " name="brckt2" id="brckt2" onclick="copyValueOfLeftBracketTwoButton()"><br/>

        </td>

       <td>
        {{ form_widget(form.leftExpression) }}
            </td>
            </tr>
         </table>
        <br/>


    </div>

    <div>
        <label for="hris_dataqualitybundle_validationtype_operator" class="required">Operator</label>

        {{ form_widget(form.operator)  }}
    </div>


    <div>
        <table border="1" cellpadding="5" cellspacing="5">

       <tr> <label for="hris_dataqualitybundle_rightexpression" class="required">Right Expression</label></tr>
        <tr><td><select name="right_field" id="right_field" size="12" multiple="multiple" style="width:250px" ondblclick="copySelectedRight()">


            {% for rightExpressionField in rightExpressionFields  %}
                <option value="{{ rightExpressionField.id }}">{{ rightExpressionField.name }}</option>
            {% endfor %}
                    <option value="Now" id="Now">Now</option>
        </select>
         </td>

            <td>


        <input type="button" value=" + " name="add1" id="add1" onclick="copyValueOfRightAddButton()"><br/>
        <input type="button" value=" - " name="minus1" id="minus1" onclick="copyValueOfRightMinusButton()"><br/>
        <input type="button" value=" * " name="multiply1" id="multiply1" onclick="copyValueOfRightMultiplyButton()"><br/>
        <input type="button" value=" / " name="devide1" id="divide1" onclick="copyValueOfRightDivideButton()"><br/>
        <input type="button" value=" ( " name="brckt11" id="brckt11" onclick="copyValueOfRightBracketOneButton()"><br/>
        <input type="button" value=" ) " name="brckt21" id="brckt21" onclick="copyValueOfRightBracketTwoButton()"><br/>

           </td>

        <td>
        {{ form_widget(form.rightExpression) }}
            </td>
            </tr>
            </table>
        <br/>
    </div>




    {{ form_end(form)  }}

    <br/>
    <ul class="record_actions inline" style="float:left;">
        <li>
            <a href="{{ path('validation') }}" class="btn">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
