{# src/Hris/UserBundle/Resources/views/Security/login.html.twig #}
{#
   Copyright 2012 John Francis Mukulu <john.f.mukulu@gmail.com>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
#}
{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}

	<div class="form-signin">
		<div class="well">
		  <ul class="nav nav-tabs">
			<li class="active"><a href="#login" data-toggle="tab">{{ 'security.login.login'|trans({}, 'FOSUserBundle') }}</a></li>
			<li><a href="#create" data-toggle="tab">{{ 'security.login.create_account'|trans({}, 'FOSUserBundle') }}</a></li>
		  </ul>
		  <div id="myTabContent" class="tab-content">
			<div class="tab-pane active in" id="login">
			  <form class="form-horizontal" action='{{ path("fos_user_security_check") }}' method="POST">
			    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
				<fieldset>
				  <div id="legend">
					<legend class="">{{ 'security.login.login'|trans({}, 'FOSUserBundle') }}</legend>
				  </div>    
				  <div class="control-group">
					<!-- Username -->
					<label class="control-label"  for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
					<div class="controls">
					  <input type="text" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" id="username" name="_username" placeholder="" class="input-xlarge" value="{{ last_username }}">
					</div>
				  </div>

				  <div class="control-group">
					<!-- Password-->
					<label class="control-label" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
					<div class="controls">
					  <input type="password" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" id="password" name="_password" placeholder="" class="input-xlarge">
					</div>
				  </div>
				  <div class="control-group">
						<div class="controls">
							<label class="checkbox">
								<input type="checkbox" id="remember_me" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}   ¦
								<a href="#" class="btn btn-link">Forgot my password</a>
							</label>
							<button type="submit" name="_submit" class="btn btn-success">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
                            <button type="reset" name="_reset" class="btn btn-inverse">{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</button>
							<button type="button" class="btn">{{ 'security.login.help'|trans({}, 'FOSUserBundle') }}</button>
						</div>
				 </div>
				 {% if error %}
					 <div class="alert alert-error">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<strong>{{ 'security.login.access_denied'|trans({}, 'FOSUserBundle') }}</strong> {{ error|trans({}, 'FOSUserBundle') }}
					 </div>
				 {% endif %}
				</fieldset>
			  </form>                
			</div>
			<div class="tab-pane fade" id="create">
			  <form id="tab">
				<label>Username</label>
				<input type="text" value="" class="input-xlarge">
				<label>First Name</label>
				<input type="text" value="" class="input-xlarge">
				<label>Last Name</label>
				<input type="text" value="" class="input-xlarge">
				<label>Email</label>
				<input type="text" value="" class="input-xlarge">
				<label>Address</label>
				<textarea value="Smith" rows="3" class="input-xlarge">
				</textarea>

				<div>
				  <button class="btn btn-primary">Create Account</button>
				</div>
			  </form>
			</div>
		</div>
	  </div>
    </div>
{% endblock fos_user_content %}
