{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/hrisrecords/js/indexedb.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hrisrecords/js/dataentry.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/jquery-ui.js') }}"></script>

    <script type="text/javascript">

        getDataEntryForm( '{{ project_code | lower | raw }}', '{{ formUid | raw }}', '{{ table_name | raw }}' );

        //getting field Options and append them on select statements

        $(window).load(function(){

            //Populating field Options
            populateForm( '{{ fields | raw | escape('js') }}', '{{ project_code | lower | raw }}', '{{ dataValues | raw }}', '{{ otherFields | raw | escape('js') }}', '{{ selectedUnit | raw | escape('js') }}', '{{ organisation_unit_children | raw | escape('js') }}' );

        });




    </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('commons/css/datepicker.css') }}" />
    <link rel="stylesheet" href="{{ asset('commons/css/jquery-ui.css') }}" />
{% endblock stylesheets %}

{% block right_content -%}

    <h1><small>{{ title | raw }}</small></h1>

    <form action="{{ path('record_update') }}" method="post">
        {% if entryLevel %}
            Duty Post
            <select name="orgunitParent" onchange="getunits(this)" required>
                <option value="{{ organisation_unit['uid'] }}" selected>
                    {{ organisation_unit['longname'] }}
                </option>
                <option value="" >
                    --
                </option>
            </select>
            <br />
            Work Station
            <select name="unit" id="units" >

            </select>
        {% else %}
            <input name="orgunitParent" type="hidden" value="{{ organisation_unit['uid'] }}">
        {% endif %}

        <div id="result" />
        </div>
        <p>
            <input type="hidden" name="formId" value="{{ id }}">
            <input type="hidden" name="instance" value="{{ instance }}">
            <button name='Save' class="btn"> Save Records</button>
            <a href="{{ path('record_viewrecords', { 'formid': id } ,'form') }}" class="btn">
                Back to the list
            </a>
            <a href="{{ path('record_form_list_updaterecords') }}" class="btn">
                Cancel
            </a>
        </p>
    </form>

{% endblock %}
