{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/hrisrecords/js/indexedb.js') }}"></script>

    <script type="text/javascript">

       // getcopy();

        //if (getcopy()){

            /*
             Creating the Database if not Existing
             */

            createDatabase('{{ project_code | lower | raw }}','{{ table_names | raw | escape('js') }}', '{{ column_names | raw }}', '{{ data_values | raw | escape('js')}}');

            addRecords( '{{ project_code | lower | raw }}','{{ table_name | raw | escape('js') }}', '{{ data_values | raw | escape('js') }}' );

            addRecords( '{{ project_code | lower | raw }}','{{ field_table_name | raw | escape('js') }}', '{{ field_values | raw | escape('js') }}' );

            addRecords( '{{ project_code | lower | raw }}','{{ field_option_table_name | raw | escape('js') }}', '{{ field_option_values | raw | escape('js') }}' );

            addRecords( '{{ project_code | lower | raw }}','"{{ option_associations_table | raw | escape('js') }}"', '{{ option_associations_values | raw | escape('js') }}' );

            addRecords( '{{ project_code | lower | raw }}','{{ organisation_unit_table | raw | escape('js') }}', '{{ organisation_Values | raw | escape('js') }}' );
        //}

    </script>

{% endblock %}

{% block right_content -%}
<div class="container">
    {% if channel=='dataentry' %}
        <h1><small>Data Entry Forms</small></h1>
    {% elseif channel=='updaterecords' %}
        <h1><small>View Records</small></h1>
    {% endif %}

    <table class="records_list dataTable table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody  id="reload">
        {% for entity in entities %}
            <tr>
                {% if channel=="dataentry" %}
                    <td><a href="{{ path('record_new', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                {% else %}
                <td><a href="{{ path('record_viewrecords', { 'formid': entity.id }) }}">{{ entity.title }}</a></td>
                {% endif %}
                <td>
                <ul class="inline">
                    {% if channel=='dataentry' %}
                        <li>
                            <a href="{{ path('record_new', { 'id': entity.id }) }}"><i class="icon-down-arrow icon-large" title="Show"></i></a>
                        </li>
                    {% elseif channel=='updaterecords' %}
                        <li>
                            <a href="{{ path('record_viewrecords', { 'formid': entity.id }) }}"><i class="icon-folder-open icon-large" title="Show"></i></a>
                        </li>
                    {% endif %}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <button name='delete' onclick="deleteDatabase('{{ project_code | lower | raw }}')" class="btn">Clear Offline Data</button>

    <div id="result" />
    {% endblock %}
