{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/hrisrecords/js/indexedb.js') }}"></script>

    <script type="text/javascript">
        /*
        Creating the Database if not Existing
         */
        createDatabase('hris', '{{ table_name | raw }}', '{{ column_names | raw }}');

        /*
        Adding Records to the Database for Offline usage
         */
        addRecords( '{{ table_name | raw }}', '{{ data_values | raw }}');

    </script>
{% endblock %}

{% block right_content -%}
    <h1>Form list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Uid</th>
                <th>Name</th>
                <th>Title</th>
                <th>Datecreated</th>
                <th>Lastupdated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('form_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.uid }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.title }}</td>
                <td>{% if entity.datecreated %}{{ entity.datecreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.lastupdated %}{{ entity.lastupdated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('record_new', { 'id': entity.id }) }}">New Record</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="result" />
    {% endblock %}
