{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/hrisrecords/js/indexedb.js') }}"></script>

    <script type="text/javascript">

        getDataEntryForm( '{{ project_code | lower | raw }}', '{{ uid | raw }}', '{{ table_name | raw }}' );

        //getting field Options and append them on select statements

        $(window).load(function(){
            loadFieldOptions('{{ fields | raw | escape('js') }}', '{{ project_code | lower | raw }}');
        });

    </script>

{% endblock %}

{% block right_content -%}

    <h1><small>{{ title | raw }}</small></h1>

    <form action="{{ path('record_create') }}" method="post">
        {% if entryLevel %}
            Duty Post
            <select name="orgunitParent" onchange="getunits(this)" required>
                <option value="">
                    --
                </option>
                <option value="{{ organisation_unit['uid'] }}">
                    {{ organisation_unit['longname'] }}
                </option>
            </select>
            <br />
            Work Station
            <select name="unit" id="units" >

            </select>
        {% else %}
            <input name="orgunitParent" type="hidden" value="{{ organisation_unit['uid'] }}">
        {% endif %}

        <div id="result" />
        </div>
        <p>
            <input type="hidden" name="formId" value="{{ id }}">
            <button name='Save' class="btn"> Save Records</button>
        </p>
    </form>

{% endblock %}
