{% extends '::base.html.twig' %}

{% block right_content -%}
    <h1><i class="icon-circle-info icon-largest" title="Show"></i> <small>Record</small></h1>

    <table class="record_properties table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Uid</th>
                <td>{{ entity.uid }}</td>
            </tr>
            <tr>
                <th>Instance</th>
                <td>{{ entity.instance }}</td>
            </tr>
            <tr>
                <th>Complete</th>
                <td>
                    {% if entity.complete %}
                        True
                    {% else %}
                        False
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Correct</th>
                <td>
                    {% if entity.correct %}
                        True
                    {% else %}
                        False
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Hashistory</th>
                <td>
                    {% if entity.hashistory %}
                        True
                    {% else %}
                        False
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Hastraining</th>
                <td>
                    {% if entity.hastraining %}
                        True
                    {% else %}
                        False
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{{ entity.datecreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Lastupdated</th>
                <td>{{ entity.lastupdated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions inline">
        <li>
            <a href="{{ path('record') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('record_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>
            <form action="{{ path('record_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
{% endblock %}
