{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.ZeroClipboard.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.TableTools.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/dt_settings.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.records_list').dataTable( {
                "sDom": "<'row'<'span6'TRl><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
                "oTableTools": {
                    "aButtons": [
                        {"sExtends":"copy","mColumns":"visible"},
                        {"sExtends":"xls","mColumns":"visible"},
                        {"sExtends":"pdf","mColumns":"visible"}
                    ],
                    "sSwfPath": "{{ asset('commons/swf/copy_cvs_xls_pdf.swf') }}"
                },
                "sPdfOrientation": "landscape",
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records per page"
                },
                "aLengthMenu": [[10, 25, 50,100,200, -1], [10, 25, 50,100,200, "All"]]
            } );
        } );
    </script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('commons/css/dt_bootstrap.css') }}" />
{% endblock stylesheets %}

{% block right_content -%}
<div class="container">
    <h1><small>{{ title }}</small></h1>

    <table class="records_list dataTable table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Sn.</th>
                {% for visibleField in visibleFields %}
                    <th>{{ visibleField.caption }}</th>
                {% endfor %}
                <th>Last updated</th>
                <th>Duty Post</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% set incr=0 %}
        {% for record in records %}
            {% set incr = incr+1 %}
            <tr id = {{ record.uid }}>
                <td>{{ incr }}</td>
                {% for visibleField in visibleFields %}
                    {% if visibleField.getIsCalculated %}
                        <td>{{ record | calculateFieldExpression(visibleField.getCalculatedExpression,formFields) }}</td>
                    {% else %}
                        {% if visibleField.getInputType == 'Select' %}
                            <td>{{ optionMap[ record.getValue( visibleField.uid ) ] }}</td>
                        {% elseif visibleField.getInputType == 'Date' %}
                            <td>{{ record.getValue( visibleField.uid ) | date('d/m/Y') }}</td>
                        {% else %}
                            <td>{{ record.getValue( visibleField.uid ) }}</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <td>{{ record.lastupdated| date('d/m/Y') }}</td>
                <td>{{ record.organisationunit.longname }}</td>
                <td>
                    <ul class="inline" style="width:210px;">
                        <li>
                            <a href="{{ path('record_edit', { 'id': record.id }) }}"><i class="icon-edit icon-large" title="Edit"></i></a>
                        </li>
                        <li>
                            <a href="{{ path('history_list_byrecord', { 'recordid': record.id }) }}"><i class="icon-list icon-large" title="History"></i></a>
                        </li>
                        <li>
                            <a href="{{ path('training_list_byrecord', { 'recordid': record.id }) }}"><i class="icon-folder-open icon-large" title="In service Training"></i></a>
                        </li>
                        <li>
                            <a href="{{ path('record_show', { 'id': record.id }) }}"><i class="icon-user icon-large" title="Profile"></i></a>
                        </li>
                        <li>
                            <a href="#" onclick="changeForm('{{ record.uid }}');" onsubmit="changeForm('{{ record.uid }}');"><i class="icon-transfer icon-large" title="Delete"></i></a>
                        </li>
                        <li>
                            <a data-toggle="modal" href="#deleteModalFor{{ record.uid }}"><i class="icon-remove-sign icon-large" title="Delete"></i></a>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteModalFor{{ record.uid }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title"><i class="icon-circle-remove icon-largest" title="Delete"></i>Deleting <strong> Individual Record</strong></h4>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete <strong>record</strong> that was created on <em>{{ record.datecreated|date('d/m/Y') }}</em>
                                            {% if record.lastUpdated %}
                                                and last updated on {{ record.lastUpdated|date('H:i:s d/m/Y') }} ??
                                            {% else %}
                                                and never updated ??
                                            {% endif %}
                                        </div>
                                        <div class="modal-footer">
                                            <form action="{{ path('record_delete', { 'id': record.id }) }}" method="post">
                                                <input type="hidden" name="_method" value="DELETE" />
                                                {{ form_widget(delete_forms[record.id] ) }}
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <div class="modal fade" id="showPopupModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="icon-circle-remove icon-largest" title="Delete"></i>Deleting</h4>
                </div>
                <div class="modal-body">

                    <select id="content_field" ondblclick="$('#showPopupModal').modal('hide')" name="content" size="10" style="width: 100%; height: 90%; font-family: 'Courier New',Courier,mono; font-size: 12px;" dir="ltr" wrap="soft">
                        {% for form in userForms %}

                            <option value="{{ form.id }}">{{ form.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <form action="" method="post">
                        <input type="hidden" class="btn btn-danger" name="_method" value="DELETE"/>
                        <input type="hidden" value="" id="selectedField"/>
                        <button type="button" class="btn btn-success" onclick="$('#showPopupModal').modal('hide')">Insert Field</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </form>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    {% endblock %}
