{# src/Hris/DashboardBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}


{% block title %} {{ parent() }} - Dashboard {% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock stylesheets %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block banner %}
	{{ parent() }}
{% endblock %}

{% block content %}
	<div class="container-fluid">
	  <div class="row-fluid">
	    <div class="span2" style="padding:20px 0px;>
	      <!--Sidebar content-->
	      {% include 'HrisDashboardBundle::navigationmenu.html.twig' %}
	    </div>
	    <div class="span10">
	      <!--Body content-->
	      
      		
	      
	    </div>
	  </div>
	</div>
{% endblock %}

{% block footer %}
	{{ parent() }}
{% endblock %}