{% extends "HrisUserBundle::layout.html.twig" %}

{% block content %}

    <div class="form-container">
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
            <fieldset class="user_registration">
                <legend class="title">Create HRHIS User Account</legend>
                {{ form_widget(form) }}
                <div id="_submit-buttons">
                    <input type="submit" id="_submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
                    <input type="reset"  id="_reset" value="{{ 'security.login.reset'|trans({}, 'FOSUserBundle') }}"/>
                </div>
            </fieldset>
        </form>
    </div>

{% endblock content %}
