{% extends '::base.html.twig' %}
{% block right_content -%}
    <h1>Form design</h1>
    {{ form_start(form, { 'action': path('design_update', { 'id': entity.id }), 'method' : 'PUT' } ) }}
	    {{ tinymce_init() }}

	    {{ form_widget(form.hypertext, { 'attr': { 'class': 'tinymce', 'data-theme' : 'advanced' } } ) }}
        <p style="margin-top:10px;float: left;">
                <button type="submit" class="btn">Edit</button>
	    </p>
    {{ form_end(form) }}
        <a href="{{ path('form') }}" class="btn" style="float:right; margin-top:-10px;">
            Back to the list
        </a>

    
{% endblock %}
 
 