{# src/Hris/UDashboardBundle/Resources/views/Dashboard/dashboard.html.twig #}
{% extends "HrisDashboardBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts.js') }}"></script>
    <script src="{{ asset('bundles/obhighcharts/js/highcharts/modules/exporting.js') }}"></script>
    <script type="text/javascript">
        {{ chart(combinationchart) }}
        {{ chart(retirementchart) }}
        {{ chart(agechart) }}
        {%   for  entityChart in entitiesChart %}
            {{ chart(entityChart) }}
        {%  endfor %}
    </script>
{%  endblock %}

{% block notifications %}
    <li><a class="pull-right visible-desktop" href="{{ path('message_inbox') }}"><i class="icon-comment"></i>{{ unreadmessages }}</a></li>
{% endblock notifications %}

{% block message_alert %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <small class="visible-phone"><strong>Welcome!</strong> Please use navigation on top panel,</small>
        <small class="hidden-phone"><strong>Welcome!</strong> Please use navigation on your left,</small>
        {% if unreadmessages > 0 %}
            <small class="hidden-phone">You have <strong><a class="pull-right visible-desktop" href="{{ path('message_inbox') }}" title="Unread Messages"><strong>{{ unreadmessages }} unread message</strong></a></strong></small>
        {% endif %}
    </div>
{% endblock message_alert %}

{% block right_content %}



    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#employment-distribution" data-toggle="tab">Combination Report</a></li>
            <li class=""><a href="#retirement-distribution" data-toggle="tab">Retirement Distribution</a></li>
            <li class=""><a href="#age-distribution" data-toggle="tab">Age Distribution</a></li>
            {% for entity in entities %}
                <li class=""><a href="#_{{ ((entity.name)|lower)|replace({" ":"_"}) }}" data-toggle="tab">{{ entity.name }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="employment-distribution">
                <h4>The Employment Distribution Chart</h4>
                <div id="chart_placeholder" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                <ul class="record_actions inline offset8">
                    <li>
                        <a href="#" class="btn">Download Excel</a>
                    </li>
                    <li>
                        <a href="#" class="btn">Download Pdf</a>
                    </li>
                </ul>
            </div>
            <div class="tab-pane" id="retirement-distribution">
                    <h4>Retirement Distribution Chart</h4>
                    <div id="retirementdistribution" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                    <ul class="record_actions inline offset8">
                        <li>
                            <a href="#" class="btn">Download Excel</a>
                        </li>
                        <li>
                            <a href="#" class="btn">Download Pdf</a>
                        </li>
                    </ul>
            </div>
            <div class="tab-pane" id="age-distribution">
                <h4>Age Distribution</h4>
                <div id="agedistribution" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                <ul class="record_actions inline offset8">
                    <li>
                        <a href="#" class="btn">Download Excel</a>
                    </li>
                    <li>
                        <a href="#" class="btn">Download Pdf</a>
                    </li>
                </ul>
            </div>
            {% for entity in entities %}
                <div class="tab-pane" id="_{{ ((entity.name)|lower)|replace({" ":"_"}) }}">
                    <h4>{{ entity.name }}</h4>
                    <div id="{{ ((entity.name)|lower)|replace({" ":"_"}) }}" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                    <ul class="record_actions inline offset8">
                        <li>
                            <a href="#" class="btn">Download Excel</a>
                        </li>
                        <li>
                            <a href="#" class="btn">Download Pdf</a>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </div><!-- /.tab-content -->
    </div>
    
    
    
{% endblock %}