{# src/Hris/UDashboardBundle/Resources/views/Dashboard/dashboard.html.twig #}
{% extends "HrisDashboardBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts.js') }}"></script>
    <script src="{{ asset('bundles/obhighcharts/js/highcharts/modules/exporting.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/jquery-ui.js') }}"></script>
    <script type="text/javascript">
        {{ chart(hardcodeddashboard) }}
        {{ chart(retirementchart) }}
        {{ chart(agechart) }}
        {%   for  entityChart in entitiesChart %}
            {{ chart(entityChart) }}
        {%  endfor %}
        {{ chart(combinationchart) }}
        $( '.tab-content').resizable();
    </script>
{%  endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('commons/css/jquery-ui.css') }}" />
    <style type="text/css">
        .tab-content {
            width: 100%;
            height: 100%;
            border-right-width:1px;
            border-right-style:solid;
            border-right-color:#DEDEDE;
            border-bottom-width:1px;
            border-bottom-style:solid;
            border-bottom-color:#DEDEDE;
            overflow: visible;
        }
    </style>
{% endblock stylesheets %}


{% block notifications %}
    <li><a class="pull-right visible-desktop" href="{{ path('message_inbox') }}"><i class="icon-comment"></i>{{ unreadmessages }}</a></li>
{% endblock notifications %}

{% block message_alert %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <small class="visible-phone"><strong>Welcome!</strong> Please use navigation on top panel,</small>
        <small class="hidden-phone"><strong>Welcome!</strong> Please use navigation on your left,</small>
        {% if unreadmessages > 0 %}
            <small class="hidden-phone">You have <strong><a class="pull-right visible-desktop" href="{{ path('message_inbox') }}" title="Unread Messages"><strong>{{ unreadmessages }} unread message</strong></a></strong></small>
        {% endif %}
    </div>
{% endblock message_alert %}

{% block right_content %}



    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#hardcodeddashboard" data-toggle="tab">Employment Trend</a> </li>
            <li class=""><a href="#employment-distribution" data-toggle="tab">Combination Report</a></li>
            <li class=""><a href="#retirement-distribution" data-toggle="tab">Retirement Distribution</a></li>
            <li class=""><a href="#age-distribution" data-toggle="tab">Age Distribution</a></li>
            {% for entity in entities %}
                <li class=""><a href="#_{{ ((entity.name)|lower)|replace({" ":"_"}) }}" data-toggle="tab">{{ entity.name }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="hardcodeddashboard">
                <h4>Employment Trend</h4>
                <div id="dashboard_placeholder" class="ui-resizable" style="min-width: 400px; width:100%; min-height:400px; height: 400px; margin: 0 auto"></div>
            </div>
            <div class="tab-pane" id="employment-distribution">
                <h4>The Employment Distribution Chart</h4>
                <div id="chart_placeholder" class="ui-resizable" style="min-width: 400px; width:100%; min-height:400px; height: 400px; margin: 0 auto"></div>
            </div>
            <div class="tab-pane" id="retirement-distribution">
                    <h4>Retirement Distribution Chart</h4>
                    <div id="retirementdistribution" style="min-width: 400px; width:100%; min-height:400px; height: 400px; margin: 0 auto"></div>
            </div>
            <div class="tab-pane" id="age-distribution">
                <h4>Age Distribution</h4>
                <div id="agedistribution" style="min-width: 400px; width:100%; min-height:400px; height: 400px; margin: 0 auto"></div>
            </div>
            {% for entity in entities %}
                <div class="tab-pane" id="_{{ ((entity.name)|lower)|replace({" ":"_"}) }}">
                    <h4>{{ entity.name }}</h4>
                    <div id="{{ ((entity.name)|lower)|replace({" ":"_"}) }}" style="min-width: 400px; width:100%; min-height:400px; height: 400px; margin: 0 auto"></div>
                </div>
            {% endfor %}
        </div><!-- /.tab-content -->
    </div>



{% endblock %}
