{# src/Hris/UDashboardBundle/Resources/views/Dashboard/dashboard.html.twig #}
{% extends "HrisDashboardBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts.js') }}"></script>
    <script src="{{ asset('bundles/obhighcharts/js/highcharts/modules/exporting.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/jquery-migrate-1.2.1.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/jquery-ui-personalized-1.6rc2.min.js') }}"></script>
    <script type="text/javascript">
        {{ chart(retirementchart) }}
        {{ chart(agechart) }}
        {%   for  entityChart in entitiesChart %}
            {{ chart(entityChart) }}
        {%  endfor %}
        {{ chart(combinationchart) }}
        $( '.tab-content').resizable({});
        $( ".tab-content" ).mouseout(function() {
            $(window).trigger('resize');
        });
    </script>
{%  endblock %}

{% block message_alert %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <small class="visible-phone"><strong>Welcome!</strong> Please use navigation on top panel,</small>
        <small class="hidden-phone"><strong>Welcome!</strong> Please use navigation on your left,</small>
        {% if fos_message_provider.getNbUnreadMessages > 0 %}
            <small class="hidden-phone">You have <strong><a class="pull-right visible-desktop" href="{{ path('message_inbox') }}" title="Unread Messages"><strong>{{ fos_message_provider.getNbUnreadMessages }} unread message</strong></a></strong></small>
        {% endif %}
    </div>
{% endblock message_alert %}

{% block right_content %}
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#employment-distribution" data-toggle="tab">Combination Report</a></li>
            <li class=""><a href="#retirement-distribution" data-toggle="tab">Retirement Distribution</a></li>
            <li class=""><a href="#age-distribution" data-toggle="tab">Age Distribution</a></li>
            {% for entity in entities %}
                <li class=""><a href="#_{{ ((entity.name)|lower)|replace({" ":"_"}) }}" data-toggle="tab">{{ entity.name }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="employment-distribution">
                <h4>The Employment Distribution Chart</h4>
                <div id="chart_placeholder" class="ui-resizable" style="min-width: 400px; width:100%; min-height:400px; height: 400px; margin: 0 auto"></div>
            </div>
            <div class="tab-pane" id="retirement-distribution">
                    <h4>Retirement Distribution Chart</h4>
                    <div id="retirementdistribution" style="min-width: 400px; width:100%; min-height:400px; height: 400px; margin: 0 auto"></div>
            </div>
            <div class="tab-pane" id="age-distribution">
                <h4>Age Distribution</h4>
                <div id="agedistribution" style="min-width: 400px; width:100%; min-height:400px; height: 400px; margin: 0 auto"></div>
            </div>
            {% for entity in entities %}
                <div class="tab-pane" id="_{{ ((entity.name)|lower)|replace({" ":"_"}) }}">
                    <h4>{{ entity.name }}</h4>
                    <div id="{{ ((entity.name)|lower)|replace({" ":"_"}) }}" style="min-width: 400px; width:100%; min-height:400px; height: 400px; margin: 0 auto"></div>
                </div>
            {% endfor %}
        </div><!-- /.tab-content -->
    </div>



{% endblock %}
