{% extends "::base.html.twig" %}

{% block right_content %}
    <div class="fos_user_user_show">
        <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
        <p>{{ 'profile.show.last_updated'|trans({}, 'FOSUserBundle') }}: {{ user.lastUpdated |date("jS F Y") }}</p>
    </div>

    <div class="btn-group">
        <button class="btn" onclick="document.location.href='{{ path('fos_user_profile_edit') }}' ">Edit Profile</button>
    </div>

{% endblock right_content %}
