{% extends '::base.html.twig' %}

{% block right_content -%}
    <h1><small>User Details</small></h1>

    <table class="record_properties table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Usernamecanonical</th>
                <td>{{ entity.usernameCanonical }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Emailcanonical</th>
                <td>{{ entity.emailCanonical }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ entity.enabled }}</td>
            </tr>
            <tr>
                <th>Salt</th>
                <td>{{ entity.salt }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ entity.password }}</td>
            </tr>
            <tr>
                <th>Lastlogin</th>
                <td>{{ entity.lastLogin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Locked</th>
                <td>{{ entity.locked }}</td>
            </tr>
            <tr>
                <th>Expired</th>
                <td>{{ entity.expired }}</td>
            </tr>
            <tr>
                <th>Expiresat</th>
                <td>{{ entity.expiresAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Confirmationtoken</th>
                <td>{{ entity.confirmationToken }}</td>
            </tr>
            <tr>
                <th>Passwordrequestedat</th>
                <td>{{ entity.passwordRequestedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ entity.roles }}</td>
            </tr>
            <tr>
                <th>Credentialsexpired</th>
                <td>{{ entity.credentialsExpired }}</td>
            </tr>
            <tr>
                <th>Credentialsexpireat</th>
                <td>{{ entity.credentialsExpireAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{{ entity.datecreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Lastupdated</th>
                <td>{{ entity.lastupdated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{{ entity.deletedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions inline">
        <li>
            <a href="{{ path('user') }}" class="btn">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn">
                Edit
            </a>
        </li>
        <li>
            <form action="{{ path('user_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form) }}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </li>
    </ul>
{% endblock %}
