{# src/Hris/UserBundle/Resources/views/layout.html.twig #}
{#
   Copyright 2012 John Francis Mukulu <john.f.mukulu@gmail.com>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
#}

{% extends '::base.html.twig' %}


{% block title %}HRHIS{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		#logo {float: left;width: 100%;height: 100%;margin: 0;padding:30px 0px 0px 0px;color: #000000;background: url("{{ asset('bundles/hrisassets/images/coat_of_arms_of_Tz.svg') }}");background-repeat:no-repeat;background-position:30px 0px;background-size:112px 117px;}
	</style>
	<link rel="stylesheet" href="{{ asset('bundles/hrisassets/css/login.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/hrisassets/css/style.css') }}" />
{% endblock stylesheets %}

{% block favicon %}
	<link rel="icon" sizes="16x16" href="{{ asset('bundles/hrisassets/images/favicon.ico') }}" />
{% endblock favicon %}

{% block body %}
	<div id="wrapper">
		{% block banner %}
			<div id="banner">
			{% block banner_logo %}
				<div id="logo">
					<h1>Ministry of Health And Social Welfare(MoHSW)</h1>
					<h2>Human Resource for Health Information System (HRHIS)</h2>
				</div>
				<!-- end #logo -->
			{% endblock banner_logo %}
			</div>
		{% endblock banner %}
		
		{% block content %}
			{{  block('fos_user_content') }}
		{% endblock content %}
		
		<div style="clear: both;">&nbsp;</div>
		
		{% block footer %}
			<div id="footer">
				<p>Copyright © 2010  Ministry of Health and Social welfare - Human resource for Health Information System</p>
			</div>
		{% endblock footer %}
		
	</div>
{% endblock body %}