{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.ZeroClipboard.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.TableTools.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/dt_settings.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.records_list').dataTable( {
                "sDom": "<'row'<'span6'TRl><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
                "oTableTools": {
                    "aButtons": [
                        {"sExtends":"copy","mColumns":"visible"},
                        {"sExtends":"xls","mColumns":"visible"},
                        {"sExtends":"pdf","mColumns":"visible"}
                    ],
                    "sSwfPath": "{{ asset('commons/swf/copy_cvs_xls_pdf.swf') }}"
                },
                "sPdfOrientation": "landscape",
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records per page"
                },
                "aLengthMenu": [[10, 25, 50,100,200, -1], [10, 25, 50,100,200, "All"]]
            } );
        } );
    </script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('commons/css/dt_bootstrap.css') }}" />
{% endblock stylesheets %}

{% block right_content -%}

<div class="container">
    <h1><small>DHISDataConnection List</small></h1>
    <ul class="inline">
        <li>
            <a class="btn" href="{{ path('dhisdataconnection_new') }}">
                Create new connection
            </a>
        </li>
    </ul>

    <table class="records_list dataTable table table-striped table-bordered table-hover" cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Datasetname</th>
                <th>Datasetuid</th>
                <th>Hosturl</th>
                <th>Username</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('dhisdataconnection_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.datasetName }}</td>
                <td>{{ entity.datasetUid }}</td>
                <td>{{ entity.hostUrl }}</td>
                <td>{{ entity.username }}</td>
                <td>
                <ul class="inline">
                    <li>
                        <a href="{{ path('dhisdataconnection_show', { 'id': entity.id }) }}"><i class="icon-info-sign icon-large" title="Show"></i></a>
                    </li>
                    <li>
                        <a href="{{ path('dhisdataconnection_edit', { 'id': entity.id }) }}"><i class="icon-edit icon-large" title="Edit"></i></a>
                    </li>
                    <li>
                        <a href="{{ path('dhisdataconnection_showmapping', { 'id': entity.id }) }}"><i class="icon-circle-arrow-down icon-large" title="Update database mapping"></i></a>
                    </li>
                    <li>
                        <a href="{{ path('dhisdataconnection_syncdata', { 'id': entity.id }) }}"><i class="icon-cogwheel icon-large" title="Update DHIS2 HRH Data"></i></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
