{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.ZeroClipboard.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.TableTools.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/dt_settings.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.records_list').dataTable( {
                "sDom": "<'row'<'span6'TRl><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
                "oTableTools": {
                    "aButtons": [
                        {"sExtends":"copy","mColumns":"visible"},
                        {"sExtends":"xls","mColumns":"visible"},
                        {"sExtends":"pdf","mColumns":"visible"}
                    ],
                    "sSwfPath": "{{ asset('commons/swf/copy_cvs_xls_pdf.swf') }}"
                },
                "sPdfOrientation": "landscape",
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records per page"
                },
                "aLengthMenu": [[10, 25, 50,100,200, -1], [10, 25, 50,100,200, "All"]]
            } );
        } );
    </script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('commons/css/dt_bootstrap.css') }}" />
{% endblock stylesheets %}

{% block right_content -%}

    {% set formIds = '' %}

    {% for form in forms %}
        {% if formIds is empty %}
            {% set formIds = form.id %}
        {% else %}
            {% set formIds = formIds ~ ','~form.id %}
        {% endif %}
    {% endfor %}

<div class="container">
    <h1><small>{{ title }}</small></h1>
    {% if rootNodeOrganisationunit.parent and rootNodeOrganisationunit.parent.organisationunitStructure.level.level >= app.user.organisationunit.organisationunitStructure.level.level %}
        <ul class="inline">
            <li>
                <a class="btn" href="{{ path('report_organisationunit_completeness_generate_redirect', { 'organisationunit': rootNodeOrganisationunit.parent.id, 'forms': formIds }) }}">
                    Back To {{ rootNodeOrganisationunit.parent.getLongname() }}
                </a>
                {% if sameLevel %}
                    <a class="btn" href="{{ path('report_organisationunit_completeness_generate_redirect', { 'organisationunit': rootNodeOrganisationunit.id, 'forms': formIds }) }}">
                        Back To {{ rootNodeOrganisationunit.getLongname() }}
                    </a>
                {% endif %}
            </li>
        </ul>
    {% endif %}

    <table class="records_list dataTable table table-striped table-bordered table-hover" cellpadding="0" cellspacing="0" border="0">
        <thead>
        <tr>
            {% if organisationunitChildren and not sameLevel %}
                {# Display children completeness#}
                {% if organisationunitChildren %}
                    <th rowspan="2">Sn</th>
                    <th rowspan="2">Organisationunit</th>
                {% endif %}

                {% for form in forms %}

                    {% if organisationunitChildren or sameLevel %}
                        {% if visibleFields %}
                            {% set colspan = visibleFields | length %}
                        {% else %}
                            {% set colspan = 3 %}
                        {% endif %}
                    {% else %}
                        {% set colspan=3 %}
                    {% endif %}

                    {% if organisationunitChildren %}
                        <th colspan="{{ colspan }}">{{ form.name }}</th>
                    {% endif %}

                {% endfor %}
            {% elseif visibleFields %}
                {# Headers for records compeleteness #}
                <th>Sn</th>
                {% for visibleField in visibleFields %}
                    <th>{{ visibleField.caption }}</th>
                {% endfor %}
                <th>Form name</th>
            {% endif %}
        </tr>

        {% if organisationunitChildren and not sameLevel %}
            <tr>
            {% for form in forms %}
                <th>Entered Records</th>
                <th>Expected Records</th>
                <th>Percentage</th>
            {% endfor %}
            </tr>
        {% endif %}



        </thead>
        <tbody>
            {% set counter = 0 %}

            {% if organisationunitChildren and not sameLevel %}
                {% for childOrganisationunit in organisationunitChildren %}
                    {% set counter = counter + 1 %}
                    <tr>
                        <td>{{ counter }}</td>
                        <td><a href="{{ path('report_organisationunit_completeness_generate_redirect', { 'organisationunit': childOrganisationunit.id, 'forms': formIds }) }}">{{ childOrganisationunit.longname }}</a></td>
                        {% for form in forms %}
                            {# Entered records #}
                            <td>{{ completenessMatrix[childOrganisationunit.id][form.id] }}</td>
                            {# Expected records and Percentage #}
                            {% if expectedCompleteness[childOrganisationunit.id][form.id] %}
                                {# Entered records #}
                                <td>{{ expectedCompleteness[childOrganisationunit.id][form.id] }}</td>
                                {# Percentage #}
                                {% if completenessMatrix[childOrganisationunit.id][form.id] > expectedCompleteness[childOrganisationunit.id][form.id] %}
                                    <td>Above Expected</td>
                                {% elseif expectedCompleteness[childOrganisationunit.id][form.id]<=0 %}
                                    <td>-</td>
                                {% else %}
                                    <td>{{ ( ( completenessMatrix[childOrganisationunit.id][form.id] / expectedCompleteness[childOrganisationunit.id][form.id] )*100 ) | round }}</td>
                                {% endif %}

                            {% else %}
                                {# Entered records #}
                                <td>-</td>
                                {# Percentage #}
                                <td>-</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                {# Root node completeness #}
                <tr>
                    {% set counter = counter + 1 %}
                    <td>{{ counter }}</td>
                    <td><a href="{{ path('report_organisationunit_completeness_generate_redirect', { 'organisationunit': rootNodeOrganisationunit.id, 'forms': formIds, 'sameLevel':'true' }) }}">{{ rootNodeOrganisationunit.longname }}</a></td>
                    {% for form in forms %}
                        {# Entered records #}
                        <td>{{ completenessMatrix[rootNodeOrganisationunit.id][form.id] }}</td>
                        {# Expected records and Percentage #}
                        {% if expectedCompleteness[rootNodeOrganisationunit.id][form.id] %}
                            {# Entered records #}
                            <td>{{ expectedCompleteness[rootNodeOrganisationunit.id][form.id] }}</td>
                            {# Percentage #}
                            {% if completenessMatrix[rootNodeOrganisationunit.id][form.id] > expectedCompleteness[rootNodeOrganisationunit.id][form.id] %}
                                <td>Above Expected</td>
                            {% elseif expectedCompleteness[rootNodeOrganisationunit.id][form.id]<=0 %}
                                <td>-</td>
                            {% else %}
                                <td>{{ ( ( completenessMatrix[rootNodeOrganisationunit.id][form.id] / expectedCompleteness[rootNodeOrganisationunit.id][form.id] )*100 ) | round }}</td>
                            {% endif %}

                        {% else %}
                            {# Entered records #}
                            <td>-</td>
                            {# Percentage #}
                            <td>-</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {# Total of completeness #}
                <tr>
                    {% set counter = counter + 1 %}
                    <td>{{ counter }}</td>
                    <td>Total: {{ rootNodeOrganisationunit.longname }} and lower levels</td>
                    {% for form in forms %}
                        {# Entered records #}
                        <td>{{ totalCompletenessMatrix[form.id] }}</td>
                        {# Expected records and Percentage #}
                        {% if totalExpectedCompleteness[form.id] %}
                            {# Entered records #}
                            <td>{{ totalExpectedCompleteness[form.id] }}</td>
                            {# Percentage #}
                            {% if totalCompletenessMatrix[form.id] > totalExpectedCompleteness[form.id] %}
                                <td>Above Expected</td>
                            {% elseif totalExpectedCompleteness[form.id]<=0 %}
                                <td>-</td>
                            {% else %}
                                <td>{{ ( ( totalCompletenessMatrix[form.id] / totalExpectedCompleteness[form.id] )*100 ) | round }}</td>
                            {% endif %}

                        {% else %}
                            {# Entered records #}
                            <td>-</td>
                            {# Percentage #}
                            <td>-</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% else %}
                {% for recordInstance in recordInstances %}
                    {% set counter = counter + 1 %}
                    <tr>
                        <td>{{ counter }}</td>
                        {% for visibleField in visibleFields  %}
                            <td>{{ recordsToDisplay[recordInstance][visibleField.getUid()] }}</td>
                        {% endfor %}
                        <td>{{ recordsToDisplay[recordInstance]['form'] }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <div style="text-align: right">
        {% if sameLevel %}
            <a class="btn" href="{{ path('report_organisationunit_completeness_download', { 'organisationUnitid': rootNodeOrganisationunit.id, 'formids':formIds, 'sameLevel':'true' } ) }}">
                Download to Excel
            </a>
        {% else %}
            <a class="btn" href="{{ path('report_organisationunit_completeness_download', { 'organisationUnitid': rootNodeOrganisationunit.id, 'formids':formIds } ) }}">
                Download to Excel
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}
