{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/dt_settings.js') }}"></script>
    <script>window["_GOOG_TRANS_EXT_VER"] = "1";</script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('commons/css/dt_bootstrap.css') }}" />
{% endblock stylesheets %}

{% block right_content -%}

<div class="container">
    <h1><small>{{ title }}</small></h1>

    {% if sameLevel or parent %}
        <ul class="inline">
            {% if sameLevel %}
                <li>
                    <a class="btn" href="{{ path('report_organisationunit_completeness') }}">
                        Back To {{ rootNodeOrganisationunit.getLongname() }}
                    </a>
                </li>
            {% elseif parent %}
                <li>
                    <a class="btn" href="{{ path('report_organisationunit_completeness') }}">
                        Back To {{ rootNodeOrganisationunit.getLongname() }}
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endif %}

    <table class="records_list dataTable table table-striped table-bordered table-hover" cellpadding="0" cellspacing="0" border="0">
        <thead>
        <tr>
            {% if organisationunitChildren %}
                {% if organisationunitChildren %}
                    <th rowspan="2">Sn</th>
                    <th rowspan="2">Organisationunit</th>
                {% endif %}

                {% for form in forms %}

                    {% if organisationunitChildren or sameLevel %}
                        {% if visibleFields %}
                            {% set colspan = visibleFields | length %}
                        {% else %}
                            {% set colspan = 3 %}
                        {% endif %}
                    {% else %}
                        {% set colspan=3 %}
                    {% endif %}

                    {% if organisationunitChildren %}
                        <th colspan="{{ colspan }}">{{ form.name }}</th>
                    {% endif %}

                {% endfor %}
            {% elseif visibleFields %}
                {# Headers for records compeleteness #}
                <th>Sn</th>
                {% for visibleField in visibleFields %}
                    <th>{{ visibleField.caption }}</th>
                {% endfor %}
                <th>Form name</th>
            {% endif %}
        </tr>

        {% if organisationunitChildren or sameLevel %}
            <tr>
            {% for form in forms %}
                <th>Entered Records</th>
                <th>Expected Records</th>
                <th>Percentage</th>
            {% endfor %}
            </tr>
        {% endif %}



        </thead>
        <tbody>
            {% set counter = 0 %}
            {% if organisationunitChildren %}
                {% for childOrganisationunit in organisationunitChildren %}
                    {% set counter = counter + 1 %}
                    <tr>
                        <td>{{ counter }}</td>
                        <td>{{ childOrganisationunit.longname }}</td>
                        {% for form in forms %}
                            {# Entered records #}
                            <td>{{ completenessMatrix[childOrganisationunit.id][form.id] }}</td>
                            {# Expected records and Percentage #}
                            {% if expectedCompleteness[childOrganisationunit.id][form.id] %}
                                {# Entered records #}
                                <td>{{ expectedCompleteness[childOrganisationunit.id][form.id] }}</td>
                                {# Percentage #}
                                {% if completenessMatrix[childOrganisationunit.id][form.id] > expectedCompleteness[childOrganisationunit.id][form.id] %}
                                    <td>Above Expected</td>
                                {% elseif expectedCompleteness[childOrganisationunit.id][form.id]<=0 %}
                                    <td>-</td>
                                {% else %}
                                    <td>{{ ( completenessMatrix[childOrganisationunit.id][form.id] / expectedCompleteness[childOrganisationunit.id][form.id] )*100  }}</td>
                                {% endif %}

                            {% else %}
                                {# Entered records #}
                                <td>-</td>
                                {# Percentage #}
                                <td>-</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% else %}
                {% for recordInstance in recordInstances %}
                    {% set counter = counter + 1 %}
                    <tr>
                        <td>{{ counter }}</td>
                        {% for visibleField in visibleFields  %}
                            <td>{{ recordsToDisplay[recordInstance][visibleField.getUid()] }}</td>
                        {% endfor %}
                        <td>{{ recordsToDisplay[recordInstance]['form'] }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
