{% extends '::base.html.twig' %}

{% block right_content -%}
    <h1><small>Organisationunit creation</small></h1>

    {% if  parent is not empty %}
        <form action="{{ path('organisationunit_create_parent',{'parent': parent.id}) }}" method="post" {{ form_enctype(form) }}>
    {% else %}
            <form action="{{ path('organisationunit_create') }}" method="post" {{ form_enctype(form) }}>
    {% endif %}
        {{ form_widget(form) }}

        <div id="hris_organisationunitbundle_organisationunittype_completeness">
            {% for completenessForm in completenessForms %}
                <label for="hris_organisationunitbundle_organisationunittype_completeness{{ completenessForm.uid }}">{{ completenessForm.name }} Expectation</label>
                <input type="text" name="hris_organisationunitbundle_organisationunittype_completeness[{{ completenessForm.uid }}]"
                       id="hris_organisationunitbundle_organisationunittype_completeness{{ completenessForm.uid }}"/>
            {% endfor %}
        </div>
        <br/>
        <ul class="record_actions inline" style="float:left;">
            <li>
                <button type="submit" class="btn">Create</button>
            </li>
            <li>
                <a href="{{ path('organisationunit') }}" class="btn">
                    Back to the list
                </a>
            </li>
        </ul>
    </form>
{% endblock %}
